.Button {
  width: 100%;
  background-color: #0077ff;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 20px;
  padding: 10px 16px;
  height: 90px;
  border: none;
  cursor: pointer;
    transition: 0.4s ease;

  p {
    font-family: "VK-Sans-Medium.ttf";
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
  }

  img {
    width: 24px;
    height: 24px;
    transition: 0.4s ease;

  }
}

.Button:hover {
  transform:  translateY(-4px);
  img {
    transform: rotate(45deg);
  }
}

@media (max-width: 425px) {
  .Button {
    width: 100%;
    // max-width: 334px;
    height: 67px;
    border-radius: 18px;

    p {
      font-size: 18px;
    }
    img {
      width: 28px;
      height: 28px;
    }
  }
}
