.WhyBlock {
  width: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  height: auto;
  scroll-margin-top: 120px;
}

.WhyBlock__container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WhyBlock__container-header {
  font-family: "VK-Sans-Exp-Demibold.ttf";
  font-size: 44px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
  width: 100%;
  max-width: 750px;
  text-align: center;
}

.WhyBlock__container-cardBlocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 60px;
}

.WhyBlock__container-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.WhyBlock__container-imageBlock {
  flex: 1;
  background-color: #0077ff;
  border: none;
  border-radius: 20px;
  height: 317px;
  overflow: hidden;
  position: relative;

  flex: 1 1 0;
  min-width: 0;

  img {
    width: 100%;
  }
}

.WhyBlock__container-textBlock {
  background-color: #222222;
  border: 1px solid #e1e3e621;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  text-align: start;
  gap: 32px;
  padding-left: 32px;
  padding-right: 10px;
  height: 317px;
  flex: 0 0 522px;
  height: 317px;

  flex: 1 1 0;
  min-width: 0;
  max-width: 522px;

  .WhyBlock__container-textBlock-title {
    font-family: "VK-Sans-Exp-Demibold.ttf";
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0;
    color: #ffffff;
  }

  .WhyBlock__container-textBlock-subtitle {
    font-family: "VK-Sans-Regular.ttf";
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0;
    color: #ffffffb2;
    text-align: start;
  }
}

.p-img1 {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.img1 { 
  height: 100%;
  object-fit: cover;
  object-position: center right;
  width: 100%;
}

.p-img2 {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.img2 {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.p-img3 {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.img3 {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@media (max-width: 768px) {
  .WhyBlock {
    margin-top: 114px;
    padding: 0 20px;
    height: auto;
          scroll-margin-top: 88px;

  }

  .WhyBlock__container-cards {
    flex-direction: column;
  }
  .WhyBlock__container-imageBlock,
  .WhyBlock__container-textBlock {
    width: 100%;
    max-width: 100%;
    flex: 0 0 auto;
    height: 317px;
  }

  .mid {
    flex-direction: column-reverse;
  }


}

@media (max-width: 680px) {
  .WhyBlock__container-header {
    font-size: 22px;
  }

  .WhyBlock__container-header {
    margin-bottom: 36px;
  }

  .WhyBlock__container-cardBlocks {
    gap: 24px;
  }

  .WhyBlock__container-cards {
    gap: 12px;
  }

  .WhyBlock__container-imageBlock {
    height: 233px;
  }

  .WhyBlock__container-textBlock {
    padding: 0 17px;
    height: 233px;
    .WhyBlock__container-textBlock-title {
      font-size: 22px;
    }

    .WhyBlock__container-textBlock-subtitle {
      font-size: 16px;

      span {
        font-size: 16px;
      }
    }
  }
}

