.Modal__overlay {
  position: fixed;
  inset: 0;
  background-color: #00000099;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 0 20px;
}

.Modal {
  background-color: #292929;
  padding: 52.5px 25px;
  border-radius: 30px;
  width: 100%;
  max-width: 453px;
  position: relative;
}

.Modal__close-btn {
    width: 32px;
    cursor: pointer;
    position: absolute;
    top: 34px;
    right: -41px;
}

.Modal__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 51px;
}

.Modal__content-top-title {
  font-family: "VK-Sans-Exp-Demibold.ttf";
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0;
  color: #ffffff;
  text-align: center;
  margin-bottom: 18px;
}
.Modal__content-top-subtitle {
  font-family: "VK-Sans-Regular.ttf";
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  color: #ffffffb2;
  text-align: center;
}

.Modal__content-bot {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 35px;

  img {
    width: 24px;
    height: 24px;
    display: block;
  }

  button {
    width: 100%;
    max-width: 332px;
    height: 44px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "VK-Sans-Medium.ttf";
    padding: 10px 16px;
    font-size: 16px;
    letter-spacing: -0.015em;
      gap: 4px;

  }
}

.wh {
  background-color: #ffffff;
  color: #000000;
}

.gr {
  background-color: #ffffff33;
  color: #ffffff;
}

@media(max-width:550px) {
  .Modal__close-btn {
    top: 15px;
    right: 15px;
  }
  .Modal {
    padding: 52.5px 15px 35px;
  }
  .Modal__content-bot {
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .Modal__content-top-title {
    font-size: 22px;
  }
  .Modal__content-top-subtitle {
    font-size: 16px;
  }
  .Modal__content {
    gap: 30px;
  }
}