.Monet {
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 63px;
    scroll-margin-top: 120px;

}

.Monet__content {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.Monet__content-header {
  font-family: "VK-Sans-Exp-Demibold.ttf";
  font-size: 44px;
  line-height: 100%;
  color: #ffffff;
  margin-top: 54px;
  width: 100%;
  max-width: 900px;
  text-align: center;
}

.Monet__content-main {
  width: 100%;
  border-radius: 25px;
}


.Monet__content-main--desktop {
  height: 550px;
}

.Monet__content-main--mobile {
  display: none;
}


.Monet__content-main-tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
  z-index: 3;
}

.Monet__content-main--tab {
  width: 100%;
  max-width: 469px;
  text-align: center;
  padding: 24px 30px;
  color: #ffffff;
  background-color: #262626;
  border-radius: 25px;
  font-family: "VK-Sans-Medium.ttf";
  height: 100%;
  font-size: 22px;
  line-height: 24px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 45.2px 0 #141414;
}

.Monet__content-main--tab.is-active {
  background-color: #0077ff;
}

.Monet__content-main--tab.is-second {
  background-color: #262626;
}

.Monet__content-main--tab.is-third {
  background-color: #000000;
}

.Monet__content-main--tab:not(:first-child) {
  margin-left: -60px;
}


.Monet__content-main--content {
  background-color: #222222;
  border-radius: 25px;
  width: 100%;
  display: flex;
  height: 479px;
  margin-top: -104px;
  position: relative;
  z-index: 4;
  overflow: hidden;
}

.Monet__content-main--content--left,
.Monet__content-main--content--right {
  color: #fff;

  p {
    font-family: "VK-Sans-Exp-Demibold.ttf";
    font-size: 32px;
    line-height: 110%;
    color: #ffffff;
  }

  li {
    color: #ffffffb2;
    font-size: 20px;
    line-height: 23px;
    font-family: "VK-Sans-Regular.ttf";
    margin-top: 10px;
  }
}

.Monet__content-main--content--left {
  width: 50%;
  padding-left: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 73px;
  }
}

.Monet__content-main--content--right {
  width: 50%;
  position: relative;
}


.p-m1,
.p-m2,
.p-m3 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  transition: all 0.5s ease;
}

.p-m1 {
  padding-top: 24px;
}

.m1 {
  height: 100%;
  position: absolute;
  object-fit: contain;
  object-position: bottom;
  width: 100%;
}
 
.m2 {
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  object-fit: contain;
  object-position: right center;
  width: 100%;
  transition: all 0.5s ease;

}

.p-m3 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 36px 0 0;

}

.m31 {
  height: 100%;
  object-fit: cover;
  object-position: right bottom;
  width: 100%;
  transition: all 0.5s ease;

}

.m32 {
  height: 90%;
  position: absolute;
  right: 34px;
  width: 90%;
  transition: all 0.5s ease;

}

.Monet-btnBlock {
  width: 100%;
  max-width: 1280px;
}
@media (max-width: 1200px) {

  .Monet__content-main--content--left {
    div {
      gap: 30px;
    }
  }
}

@media (max-width: 1100px) {

  .Monet__content-main--content--left {
    width: 55%;
    padding-left: 53px;

    p {
      font-size: 28px;

    }
    li {
      font-size: 18px;
    }
  }
  .Monet__content-main--content--right {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .Monet {
    padding: 0 20px;
      scroll-margin-top: 88px;

  }
}


@media (max-width: 680px) {
  .Monet__content {
    gap: 40px;
    align-items: stretch;
  }

  .Monet__content-header {
    font-size: 22px;

    max-width: 100%;
  }

  .Monet__content-main--desktop {
    display: none;
  }

  .Monet__content-main--mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .Monet__content-main {
    width: 100%;
    border-radius: 0;
  }

  .Monet__mobile-item {
    width: 100%;
    position: relative;
  }

  .Monet__content-main--tab.Monet__content-main--tab--mobile {
    max-width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    height: 83px;
    font-size: 16px;
    padding: 30px 0;
    line-height: 1.3;
    // padding: 16px 20px;

    border-radius: 25px;
    box-shadow: 0 18px 70px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 2;
  }

  .Monet__mobile-panel {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    position: relative;
    z-index: 1;
    transition:
      max-height 0.35s ease,
      opacity 0.25s ease,
      margin-top 0.25s ease;
  }

  .Monet__mobile-item--open .Monet__content-main--tab--mobile {
    // padding-bottom: 52px;
    height: 175px;
  }

  .Monet__mobile-item--open .Monet__mobile-panel {
    max-height: 1000px;
    opacity: 1;
    margin-top: -100px;
    position: relative;
    z-index: 5;
  }

  .Monet__content-main--content--mobile {
    margin-top: 0;
    flex-direction: column-reverse;
    align-items: stretch;
    height: auto;
    padding: 26px 20px 36px;
    background-color: #000000;
    border-radius: 25px;
  }

  .Monet__content-main--content--left,
  .Monet__content-main--content--right {
    width: 100%;
  }

  .Monet__content-main--content--right {
    margin-bottom: 24px;
    position: relative;
  }

  .p-m1,
  .p-m2,
  .p-m3 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    border-radius: 18px;
    overflow: hidden;
    padding: 0;
    aspect-ratio: 335 / 206;
  }

  .m1,
  .m2 {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .m31 {
    display: none;
  }

  .m32 {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    right: 0;
    bottom: -20px;
  }

  .Monet__content-main--content--left {
    padding-left: 0;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px;
  }

  .Monet__content-main--content--left div {
    gap: 18px;
  }

  .Monet__content-main--content--left p {
    font-size: 24px;
  }

  .Monet__content-main--content--left li {
    font-size: 16px;
    line-height: 1.4;
  }

  .Monet-btnBlock {
    max-width: 100%;
  }
}
