.Footer {
  width: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer__content {
  width: 100%;
  max-width: 1280px;
  // padding: 37px 80px 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    width: 197px;
    height: 42px;
    cursor: pointer;
  }

  p {
    color: #ffffff;
    font-size: 16px;
    line-height: 105px;
    letter-spacing: 0;
    font-family: "VK-Sans-Regular.ttf";
  }
}

@media (max-width: 768px) {
  .Footer {
    padding: 0 20px;
    height: 88px;
  }

  .Footer__content {
    img {
    width: 144px;
    height: 31px;
    }

  }

}