@font-face {
  font-family: "VK-Sans-Exp-Demibold.ttf";
  src: url("./assets/fonts/VK Sans Display Expanded DemiBold.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VK-Sans-Medium.ttf";
  src: url("./assets/fonts/VK Sans Display Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VK-Sans-Regular.ttf";
  src: url("./assets/fonts/VK Sans Display Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
