* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#root {
  margin: 0 auto;
  position: relative;
  height: 100%;
  
}

body, html {
  background-color: #141414;
    scroll-behavior: smooth;

}

ol,
p,
div,
label,
h1,
h2,
h3 {
  list-style: none;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}